CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
.vs/
RUCengine.sln
RUCengine/Debug/
RUCengine/RUCengine.dir/
Sandbox/Debug/
Sandbox/Sandbox.dir/
*.vcxproj.filters
*.vcxproj.user
*.vcxproj
x64/
bin/
